/*
value: TOP-BOTTOM RIGHT-LEFT
value: TOP LEFT-RIGHT BOTTOM
value: TOP RIGHT BOTTOM LEFT
*/
body {
	margin:0;
	padding:0;
	color: black;
	background-color: #063C48;
	font-family: "Myriad Pro", Calibri, HelveticaNeue, Helvetica, DejaVuSansCondensed, sans-serif;
	font-size:90%;
	width: 100%;
	text-align: center;
}

p {
	margin: 0;
	padding: 0.25em 1em;
}

h1 {
	padding: 0;
	margin: 0;
	font-size:200%;
	font-weight:bold;
	font-style:italic;
	text-align: right;
}

h2 {
	margin:0.5em 0;
	padding: 0 0.5em;
	font-size:150%;
	font-weight:bold;
	font-style:italic;
}

h3 {
	margin:0.5em 0;
	padding: 0 0.5em;
	border-bottom: 1px dashed rgb(64,64,64);
	font-size:150%;
	font-weight:bold;
	font-style:italic;
}

h4 {
	margin:0.5em 0;
	padding: 0 1em;
	color: rgb(64,64,64);
	border-bottom: 1px dotted rgb(64,64,64);
	font-size:135%;
	font-weight:bold;
}

h5 {
	margin:0.5em 0;
	padding: 0 0.5em;
	font-size:150%;
	font-weight:bold;
}

h6 {
	margin:0.25em 0;
	padding:0 0.5em;
	color: rgb(64,64,64);
	border-bottom: 1px dashed rgb(64,64,64);
	font-size:110%;
	font-weight:bold;
	font-style:italic;
}


div {
	margin:0;
	padding:0;
}

li {
	margin: 0 0 0.5em 1em;
	list-style-image: url(img/bullet.png);
}

a:link, a:visited, a:active {
	color: #F15541;
	text-decoration:underline;
}

a:hover {
	color: #751708;
	text-decoration:none;
}

img {
	border:0;
}

.description {
	float: right;
	text-align: right;
	font-style: italic;
	margin: 1em 2em 0 0;
}

.container {
	margin: 1em auto; 
	padding: 1em;
	width:80%;
	background-color: #B3DCE6;
	max-width: 68em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}

.header {
	text-align: left;
	border-color: black;
}

.navbar {
	margin: 0;
	padding: 0;
}

ul.navbar {
	width:100%;
	margin: 0;
	padding:0;
}

ul.navbar li {
	list-style-type:none;
	display:inline;
	margin:0;
	padding:0;
}

a.nav:link, a.nav:visited {
	float: left;
	padding: 3px 8px;
	margin: 0;
	font-weight: bold;
	text-decoration:none;
	color: black;
}

a.nav:hover {
	float: left;
	padding: 3px 8px;
	margin: 0;
	font-weight: bold;
	text-decoration:none;
	color: white;
}

a.navactive:link, a.navactive:visited  {
	float: left;
	padding: 3px 8px;
	margin: 0;
	border-width: 1px 1px 0px 1px;
	border-color: black;
	border-style: solid;	
	font-weight: bold;
	text-decoration:none;
	color: white;
	background-color: #063C48;
}

.content {
	clear: left;
	margin-right: 25%;
	text-align:left;
	border-width:1px;
	border-color:black;
	border-style:solid;
	background-color: white;
	padding: 0.5%;
}

.news {
	clear: left;
	width: 23%;
	padding: 0.5%;
	float: right;
	text-align: left;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	background-color: white;
}

.date {
	margin-top: 0em;
	text-align: right;
	font-style: italic;
	font-size: 90%;
	font-weight: bold;
}

.bottom {
	text-align: center;
}

.footer {
	padding: 0.5em 0 0;
	clear: both;
}
